.appBackground{
    width: 100vw;
    height: 100vw; 
    background-color: limegreen;
}

.title{
    padding-top: 30px;
    padding-left: 30px;
    background: blue; 
    color: white;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
}


.warning{
    color: white; 
    font-size: 20px;
    position: relative; 
    left: 250px;
}