.wholePage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 40px;
    color: white;
}

.fields{
    display: flex; 
    flex-direction: column;
    color: white;
}

.fieldsInput{
    display: flex; 
    flex-direction: column;
}

.credentials{
    margin-top: 50px;
    display: flex; 
    flex-direction: row;
}

.wholePageInner{
    padding-top: 100px;
}